.DataEntryTable table {
    border: 1px solid black;
	border-radius: 15px;
}
.DataEntryTable td {
	padding:  5px 11px;
    vertical-align: top;
}
.DataEntryTable input {
	width: 50px;
	padding: 3px 7px;
	margin: 0 7px;
	border-radius: 3px;
	border: none;
	background: lighten(#DCDCDC, 5%);
	transition: all .1s;
	&:focus {
		transform: scale(1.05);
		outline: none;
		background: white;
	}
}
.DataEntryTable input[type=number]::-webkit-inner-spin-button, 
.DataEntryTable input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[name="Date"] {
	width: 158px;
}
.DataEntryTable span {
    display: inline-block;
    width: 75px;
    text-align: right;
}
span.addComponent {
	font-size: 12px;
}
span.addUnit {
	text-align: left;
	font-size: 10px;
	width: 22px;
}
span.tempLabel {
	width: 30px;
}
.submit {
	height: 50px;
	width: 100px;
	color: white;
	background: green;
	border-radius: 5px;
	margin: 10px;
	opacity: 1;
	transition: all .2s;
	&:hover {
		width: 125px;
		opacity: 0.8
	}
}
h1.form_heading {
	text-align: left;
	padding: 0 10px;
}