/**********Colors************/
$accentColor         : #EE524B;
$cleanerOrganic      : rgba(186, 63, 29, 0.8);
$cleanerInorganic    : rgba(112, 163, 127, 0.8);
$electroPlating      : rgba(244,211,94, 0.8);
$electrolessPlating  : purple;
$rinse               : rgba(135,206,250,0.5);
$chromate            : rgba(1, 23, 47, 0.8);
$rp					 : rgba(1, 23, 47, 0.8);
$seal                : rgba(219,216,179, 0.8);
$sourDip             : white;
$conditioner 		 : white;
$desmut				 : rgba(219,216,179, 0.8);
$phosphate			 : rgba(219,216,179, 0.8);
$nickel-strike 		 : purple;
$passivate			 : rgba(219,216,179, 0.8);
$non-use             : rgba(210, 210, 210,0.7);





/**********Typography************/
$baseFont      :  'Noto Sans', sans-serif;
$specialty-font : 'Lato', sans-serif;
$thin           :  100;
$thick			:  700;
$lg-font        : 2.5em;
$md-font        : 1.2em;
$sm-font        : 1em;
$mini-font      : .7em;

/**********Mixins************/


/**********Extends************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*********************Media Queries*********************/
$tablet-width : 768px;
$desktop-width : 1024px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}