/**********Colors************/
$offwhite : #c7cbd2;
$widget2_bg: #199F86;
$widget_bg: #292C31;





/**********Typography************/
$user_name: 'Source Sans Pro', sans-serif;
$navigation : 'Quicksand', sans-serif;
$title_describes : 'Nunito', sans-serif;
$titles : 'Quicksand', sans-serif;
$tools : 'Source Sans Pro', sans-serif;
$main :  'Quicksand', sans-serif;

/**********Layout************/
$left_bar_width : 260px;
$top_bar_height: 95px;

/**********Mixins************/


/**********Extends************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*********************Media Queries*********************/
$tablet-width : 768px;
$desktop-width : 1024px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
